{% extends 'base.html.twig' %}

{% block css %}
<style>
th { color: orange}
</style>
{% endblock %}

{% block body %}

{% include 'includes/banner.html.twig' %}
{% set num = -120 %}
<h2>Démo {{ num|abs }}</h2>

<p>Nombre d'étudiants: {{ students|length }}</p>
<p>L'étudiant du mois: {{ random(students).name }}

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Job</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
      <tr>
        <td>
          <a href="/demo13/{{loop.index}}">{{ student.name|upper }}</a>
        </td>
        <td>{{ student.job }}</td>
        <td>{{ student.age }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}